<p id="notice"><%= notice %></p>

<h1>Count Words</h1>


<input type="text" name="" value="" id="word_search" style="width: 600px;">
<button type="button" name="button" id="search_button">Start Count</button>
<div id="show_names"/>
